header{
    background-color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
}
.image
{
    padding:20px;
 border:10px solid black;
    margin : 10px;
    outline-style :dotted;
    outline-color: white;
    outline-offset: 15px;
    background-color: yellowgreen;
    
}
.text
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    padding : 5px;
    color : plum;
    background-color: black;
    
}
